<div class="card">
        <div class="card__header">
            <h2>Property Location</h2>
            <small>Aenean lacinia bibendum nulla sed consectetur</small>
        </div>

        <form class="card__body">
            <div class="form-group form-group--float m-b-5">
                <input type="text" class="form-control" [(ngModel)]="address.Street" name="street" #street="ngModel">
                <i class="form-group__bar"></i>
                <label>Street</label>
            </div>

            <div class="form-group form-group--float m-b-5">
                <input type="text" class="form-control" [(ngModel)]="address.Number" name="number" #street="ngModel">
                <i class="form-group__bar"></i>
                <label>Number</label>
            </div>
            <!-- <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                        Hide Street number on listing
                    </label>
                </div>
            </div> -->

            <div class="form-group form-group--float m-b-5">
                <input type="text" class="form-control text-center" [(ngModel)]="address.ApartmentNumber" name="apartmentNumber" #apartmentNumber="ngModel">
                <i class="form-group__bar"></i>
                <label>Unidad / Apartamento</label>
            </div>
            <div class="form-group form-group--float m-b-5">
                <input type="text" class="form-control text-center" [(ngModel)]="address.PostalCode" name="postalCode" #apartmentNumber="ngModel">
                <i class="form-group__bar"></i>
                <label>Codigo Postal</label>
            </div>
            <!-- <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                        Hide U/Floor/Block on listing
                    </label>
                </div>
            </div> -->

            <div class="form-group">
                <label>Ciudad</label>
                <select class="select2" [(ngModel)]="address.City" name="city" #city="ngModel">
                    <option *ngFor="let c of configuration.Cities" [ngValue]="c.Code">{{c.Name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Barrio</label>
                <select class="select2 neighbourhood-selector" name="neighbourhood" [(ngModel)]="address.Neighbourhood" #neighbourhood="ngModel">
                    <!-- <option *ngFor="let c of selectedCity.Neighbourhoods" [ngValue]="c.Code">{{c.Name}}</option> -->
                </select>
            </div>
            <div class="form-group">
                <label>Ubicación en el mapa</label>
                <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)" [zoom]="zoom">
                    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"></agm-marker>
                </agm-map>
            </div>
            <!-- <div class="form-group">
                <label>Barrio</label>

                <select class="select2" required [(ngModel)]="address.Neighbourhood" name="neighborhood" #apartmentNumber="ngModel">
                    <option *ngFor="let nei of configuration.Neighbourhoods" [value]="nei">{{nei}}</option>
                </select>
            </div> -->

            <a href="#submit-property-2" data-toggle="tab" class="btn btn--circle btn-primary submit-property__button">
                <i class="zmdi zmdi-long-arrow-right"></i>
            </a>
        </form>
    </div>