<section class="section">
    <div class="container">
        <header class="section__title">
            <h2>Submit your property</h2>
            <small>Praesent commodo cursus magnavel sceleris quenisl consecte turet</small>
        </header>

        <form [formGroup]="myForm">
            <div class="submit-property">
                <ul class="submit-property__steps">
                    <li class="active"><a href="#submit-property-1"  data-toggle="tab">1</a></li>
                    <li><a href="#submit-property-2" data-toggle="tab">2</a></li>
                    <li><a href="#submit-property-3" data-toggle="tab">3</a></li>
                    <li><a href="#submit-property-4" data-toggle="tab">4</a></li>
                    <li><a href="#submit-property-5" data-toggle="tab">5</a></li>

                    <li class="submit-property__caret"></li>
                </ul>

                <div class="tab-content submit-property__content">
                
                    <div class="tab-pane fade in active" id="submit-property-1">
                        <app-address-form [address]="myForm.controls.address"></app-address-form>
                    </div>

                    <div class="tab-pane fade" id="submit-property-2">
                        <app-contact-info></app-contact-info>
                    </div>

                    <div class="tab-pane fade" id="submit-property-3">
                        <div class="card">
                            <div class="card__header">
                                <h2>Sale Information</h2>
                                <small>Nullam iddolor dnibh ultricies vehicula utielit</small>
                            </div>

                            <form class="card__body">
                                <div class="form-group form-group--float form-group--float-center">
                                    <input type="text" class="form-control text-center">
                                    <i class="form-group__bar"></i>
                                    <label>Askin Price</label>
                                </div>

                                <div class="form-group form-group--float form-group--float-center">
                                    <input type="text" class="form-control text-center">
                                    <i class="form-group__bar"></i>
                                    <label>Maintenance amount per month</label>
                                </div>

                                <div class="form-group">
                                    <label>Owner Information</label>
                                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                                        <label class="btn active">
                                            <input type="radio" name="advanced-search-beds" checked>Agent
                                        </label>
                                        <label class="btn">
                                            <input type="radio" name="advanced-search-beds">Owner
                                        </label>
                                        <label class="btn">
                                            <input type="radio" name="advanced-search-beds">Other
                                        </label>
                                    </div>
                                </div>

                                <a href="#submit-property-4" data-toggle="tab" class="btn btn--circle btn-primary submit-property__button">
                                    <i class="zmdi zmdi-long-arrow-right"></i>
                                </a>
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="submit-property-4">
                        <app-property-info-form [property]="myForm.controls.property"></app-property-info-form>
                    </div>

                    <div class="tab-pane fade" id="submit-property-5">
                        <div class="card">
                            <div class="submit-property__success">
                                <i class="zmdi zmdi-check"></i>

                                <h2>Successful!</h2>
                                <p>Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>