<section class="section">
    <div class="container">
        <header class="section__title">
            <h2>Publica tu Propiedad</h2>
            <small>Mientras mejor la describas, mejor posicionada saldrá.</small>
        </header>

        <form [formGroup]="myForm">
            <div class="submit-property">
                <ul class="submit-property__steps">
                    <li class="active"><a href="#submit-property-1"  data-toggle="tab">1</a></li>
                    <li><a href="#submit-property-2" data-toggle="tab">2</a></li>
                    <li><a href="#submit-property-3" data-toggle="tab">3</a></li>
                    <li><a href="#submit-property-4" data-toggle="tab">4</a></li>
                    <li><a href="#submit-property-5" data-toggle="tab">5</a></li>
                    <li><a href="#submit-property-6" data-toggle="tab">6</a></li>
                    <li class="submit-property__caret"></li>
                </ul>

                <div class="tab-content submit-property__content">
                
                    <div class="tab-pane fade in active" id="submit-property-1">
                        <app-address-form (formSubmit)="submitAddress($event)" [address]="myForm.controls.address"></app-address-form>
                    </div>

                    <div class="tab-pane fade" id="submit-property-2">
                        <app-contact-info (formSubmit)="submitContactInfo($event)" [contactInfo]="myForm.controls.contactInfo"></app-contact-info>
                    </div>

                    <div class="tab-pane fade" id="submit-property-3">
                        <app-sale-info (formSubmit)="submitSaleInfo($event)" [saleInfo]="myForm.controls.saleInfo"></app-sale-info>
                    </div>

                    <div class="tab-pane fade" id="submit-property-4">
                        <app-property-info-form (formSubmit)="submitPropertyInfo($event)" [property]="myForm.controls.property"></app-property-info-form>
                    </div>

                    <div class="tab-pane fade" id="submit-property-5">
                        <app-amenities-form (formSubmit)="formSubmitAll($event)"></app-amenities-form>
                    </div>

                    <div class="tab-pane fade" id="submit-property-6">
                        <div class="card">
                            <div class="submit-property__success">
                                <i class="zmdi zmdi-check"></i>

                                <h2>Successful!</h2>
                                <p>Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>