<div class="card">
    <div class="card__header">
        <h2>Información de la Propiedad</h2>
        <small></small>
    </div>

    <div class="card__body" [formGroup]="property">
        <div class="form-group">
            <label>Tipo de Propiedad</label>
            <select class="select2" formControlName="type" name="type">
                <option *ngFor="let c of propertyTypes.Items" [ngValue]="c.Code">{{c.Name}}</option>
            </select>
        </div>

        <div class="form-group form-group--float form-group--float-center">
            <input type="text" formControlName="title" class="form-control text-center">
            <i class="form-group__bar"></i>
            <label>* Titulo</label>
        </div>

        <div class="form-group form-group--float form-group--float-center">
            <textarea formControlName="description" class="form-control text-center textarea-autoheight"></textarea>
            <i class="form-group__bar"></i>
            <label>Descripcion</label>
        </div>

        <div class="form-group">
            <label>Estado</label>

            <select class="select2">
                <option value="">Reciclada</option>
                <option value="">A reciclar</option>
                <option value="">Requerie mantenimiento</option>
                <option value="">Buen estado</option>
                <option value="">Excelente estado</option>
                <option value="">A estrenar</option>
                <option value="">En construcción</option>
            </select>
        </div>

        <div class="form-group">
            <label>Disposición</label>

            <select class="select2">
                <option value="">Al frente</option>
                <option value="">Contrafrente</option>
                <option value="">Interior</option>
                <option value="">Lateral</option>
            </select>
        </div>

        <div class="form-group">
            <label>Orientación</label>

            <select class="select2">
                <option value="">Norte</option>
                <option value="">Sur</option>
                <option value="">Este</option>
                <option value="">Oeste</option>
            </select>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group--float form-group--float-center">
                    <input type="text" formControlName="squareFeet" class="form-control text-center">
                    <i class="form-group__bar"></i>
                    <label>M² Construidos</label>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group form-group--float form-group--float-center">
                    <input type="text" formControlName="lotSize" class="form-control text-center">
                    <i class="form-group__bar"></i>
                    <label>M² del Predio</label>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group form-group--float form-group--float-center">
                    <input type="text" formControlName="terraceSize" class="form-control text-center">
                    <i class="form-group__bar"></i>
                    <label>M² de Terraza</label>
                </div>
            </div>

        </div>

        <div class="form-group form-group--float form-group--float-center">
            <input type="text" formControlName="constructionYear" class="form-control text-center">
            <i class="form-group__bar"></i>
            <label>Año de Construcción</label>
        </div>

        <div class="form-group">
            <label>Dormitorios</label>
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn" (click)="setBedrooms(0)">
                    <input type="radio" formControlName="bedrooms" value="0" name="bedrooms">1 Amb.
                </label>
                <label class="btn" (click)="setBedrooms(1)">
                    <input type="radio" formControlName="bedrooms" value="1" name="bedrooms" checked>1
                </label>
                <label class="btn active" (click)="setBedrooms(2)">
                    <input type="radio" formControlName="bedrooms" value="2" name="bedrooms">2
                </label>
                <label class="btn" (click)="setBedrooms(3)">
                    <input type="radio" formControlName="bedrooms" value="3" name="bedrooms">3
                </label>
                <label class="btn" (click)="setBedrooms(4)">
                    <input type="radio" formControlName="bedrooms" value="4" name="bedrooms">4
                </label>
                <label class="btn" (click)="setBedrooms(999)">
                    <input type="radio" formControlName="bedrooms" value="5" name="bedrooms">4+
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Baños</label>
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn" (click)="setBathrooms(1)">
                    <input type="radio" formControlName="bathrooms" value="1"  name="bathrooms" checked>1
                </label>
                <label class="btn active" (click)="setBathrooms(2)">
                    <input type="radio" formControlName="bathrooms" value="2" name="bathrooms">2
                </label>
                <label class="btn" (click)="setBathrooms(3)">
                    <input type="radio" formControlName="bathrooms" value="3" name="bathrooms">3
                </label>
                <label class="btn" (click)="setBathrooms(4)">
                    <input type="radio" formControlName="bathrooms" value="4" name="bathrooms">4
                </label>
                <label class="btn" (click)="setBathrooms(999)">
                    <input type="radio" formControlName="bathrooms" value="5" name="bathrooms">4+
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>No. de Pisos</label>
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn" (click)="setFloors(1)">
                    <input type="radio" formControlName="floors" value="1" name="floors" checked>1
                </label>
                <label class="btn active" (click)="setFloors(2)">
                    <input type="radio" formControlName="floors" value="2" name="floors">2
                </label>
                <label class="btn" (click)="setFloors(3)">
                    <input type="radio" formControlName="floors" value="3" name="floors">3
                </label>
                <label class="btn" (click)="setFloors(999)">
                    <input type="radio" formControlName="floors" value="4" name="floors">3+
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Garages</label>
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn" (click)="setGarages(0)">
                    <input type="radio" formControlName="garages" value="0" name="garages" checked>0
                </label>
                <label class="btn active" (click)="setGarages(1)">
                    <input type="radio" formControlName="garages" value="1" name="garages">1
                </label>
                <label class="btn" (click)="setGarages(2)">
                    <input type="radio" formControlName="garages" value="2" name="garages">2
                </label>
                <label class="btn" (click)="setGarages(999)">
                    <input type="radio" formControlName="garages" value="3" name="garages">2+
                </label>
            </div>
        </div>

        <a (click)="submit('#submit-property-5')" data-toggle="tab" class="btn btn--circle btn-primary submit-property__button">
            <i class="zmdi zmdi-long-arrow-right"></i>
        </a>
      </div>
</div>