<div class="card">
    <div class="card__header">
        <h2>Información de Contacto</h2>
        <small>A dónde quiero que me contacten</small>
    </div>

    <div class="card__body" [formGroup]="contactInfo">
        <div class="form-group form-group--float form-group--float-center {{!contactInfo.controls.name.valid && contactInfo.controls.name.touched ? 'has-error' : ''}}">
            <input type="text" class="form-control text-center" formControlName="name" name="name">
            <i class="form-group__bar"></i>
            <label>* Nombre</label>
        </div>

        <div class="form-group form-group--float form-group--float-center {{!contactInfo.controls.email.valid && contactInfo.controls.email.touched ? 'has-error' : ''}}">
            <input type="text" class="form-control text-center" formControlName="email" name="email">
            <i class="form-group__bar"></i>
            <label>* Email</label>
        </div>

        <div class="form-group form-group--float form-group--float-center {{!contactInfo.controls.phone.valid && contactInfo.controls.phone.touched ? 'has-error' : ''}}">
            <input type="text" class="form-control text-center" formControlName="phone" name="phone">
            <i class="form-group__bar"></i>
            <label>* Celular / Teléfono</label>
        </div>

        <a (click)="submit('#submit-property-3')"  data-toggle="tab" class="btn btn--circle btn-primary submit-property__button">
            <i class="zmdi zmdi-long-arrow-right"></i>
        </a>
    </div>
</div>