<div class="card">
    <div class="card__header">
        <h2>Información de la Publicación</h2>
        <small></small>
    </div>

    <div class="card__body" [formGroup]="saleInfo">
        <div class="form-group">
            <label>Operación</label>
            <select class="select2" id="selectOperation" name="operation">
                <option value="ANUAL_RENT">Alquiler Anual</option>
                <option value="TEMPORAL_RENT">Alquiler Temporal</option>
                <option value="SALE">Venta</option>
            </select>
        </div>
        <div class="form-group form-group--float form-group--float-center {{!saleInfo.controls.price.valid && saleInfo.controls.price.touched ? 'has-error' : ''}}">
            <input type="number" min="0" class="form-control text-center" formControlName="price" name="price">
            <i class="form-group__bar"></i>
            <label>Precio</label>
        </div>

        <div class="form-group form-group--float form-group--float-center {{!saleInfo.controls.expenses.valid && saleInfo.controls.expenses.touched ? 'has-error' : ''}}">
            <input type="number" min="0" class="form-control text-center" formControlName="expenses" name="expenses">
            <i class="form-group__bar"></i>
            <label>Gastos Comunes</label>
        </div>

        <div class="form-group">
            <label>Moneda</label>
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn" (click)="setCurrency('USD')">
                    <input type="radio" formControlName="currency" [value]="USD" name="currency">USD
                </label>
                <label class="btn active" (click)="setCurrency('UY')">
                    <input type="radio" formControlName="currency" [value]="UY" name="currency" checked>$ UY 
                </label>
            </div>
        </div>
        <div class="row" id="guarantee-container">
            <header class="section__title">
                <h2>Garantias Aceptadas</h2>
            </header>
            <div *ngFor="let a of catalogService.countryConfiguration.Guarantees">
                <div class="col-sm-6">
                    <div class="form-group align-left">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="{{a.Code}}" name="{{a.Name}}" (change) ="change($event)">
                                <i class="input-helper"></i>
                                {{a.Name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a (click)="submit('#submit-property-4')" data-toggle="tab" class="btn btn--circle btn-primary submit-property__button">
            <i class="zmdi zmdi-long-arrow-right"></i>
        </a>
      </div>
</div>