<div class="card">
  <div class="card__header">
      <h2>Amenitites</h2>
      <small>Comodidades</small>
  </div>

  <form class="card__body">
      <div class="row" *ngIf="amenities">
        <div class="col-sm-6"  *ngFor="let a of amenities.Items">
            <div class="form-group amenities">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="{{a.Code}}" name="{{a.Name}}" [checked]="isSelected(a.Code)" (change) ="change($event)">
                        <i class="input-helper"></i>
                        {{a.Name}}
                    </label>
                </div>
            </div>
        </div>

      </div>

      <a href="#submit-property-6" data-toggle="tab" class="btn btn--circle btn-primary submit-property__button">
          <i class="zmdi zmdi-check"></i>
      </a>
  </form>
</div>